
body {
    margin:0px;
    background: #0f0f0f;
    padding-top: 0px;
    display:flex;
  }

#header{
    position: fixed;
    height:120px;
    width: 100%;
    background:#161616; 
    text-align: center;
    z-index: 1000;
}

video {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    padding-left:10%;
    width:80%;
}
div {
    width: 100%;
}
.typewriter h1, p, h2, h3,a, h4, h5 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    white-space: pre-line;
    margin: 0 auto;
    letter-spacing: .1em;
    margin-left: 50px;
    padding-right: 50px;
}
.typewriter h1 {
    padding-top: 20px;
    font-size: 50px;
}
.typewriter h2, h3 {
    margin-left: 0;
    text-align: center;
}
#corps {
    padding-top: 150px;
    width:100%;
}
#item_sorts {
    padding-top: 50px;
    text-align: center;
    font-size: 15px;
}
#items {
    text-align: center;
}
.itemsAndSorts h5 {
    font-size: 12px;
    padding-top: 15px;
    text-align: left;
    padding-left: 20%;
}
.itemsAndSorts p {
    font-size: 10px;
    padding-top: 7px;
    text-align: left;
    padding-left: 25%;
    white-space: pre-line;
}
.Lumithologie p {
    font-size: 12px;
    padding-top: 7px;
    text-align: left;
    padding-left: 15px;
    white-space: pre-line;
}
.Lumithologie h3 {
    padding-top: 50px;
}
#LDescription {
    text-align: left;
    padding-left: 0px;
}
#LTitre {
    padding-bottom: 0px;
}
#startspace {
    padding-top: 150px;
}
.typewriter h2 {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 100px;
}
.typewriter h3 {
    font-size: 20px;
    padding-bottom: 25px;
}
img {
    padding-top : 20px;
    width: 80%;
}
table {
    text-align: center;
}