
body {
    margin:0px;
    background: #0f0f0f;
    padding-top: 0px;
    display:flex;
  }

#header{
    position: fixed;
    height:120px;
    width: 100%;
    background:#161616; 
    text-align: center;
    z-index: 1000;
    padding-bottom: 10px;
}

#linedown{
    position: fixed;
    height:60px;
    width: 100%;
    padding-top: 20px;
    background:#131213; 
    text-align: center;
    z-index: 1000;
}

video {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    padding-left:10%;
    width:80%;
}
div {
    width: 100%;
}

.typewriter h1, p, h2, h3,a, h4, h5 {
    color: #e8e8e8;
    font-family: monospace;
    overflow: hidden;
    white-space: pre-line;
    margin: 0 auto;
    letter-spacing: .1em;
}
.typewriter h1 {
    padding-top: 20px;
    font-size: 50px;
}
.typewriter h1, h2, h3, h4 {
    margin-left: 0;
    text-align: center;
}
#corps {
    padding-top: 150px;
    width:100%;
}
#item_sorts {
    padding-top: 50px;
    text-align: center;
    font-size: 15px;
}
#items {
    text-align: center;
}
#dessins {
    text-align: center;
    width: 30%;
}
.itemsAndSorts h5 {
    font-size: 12px;
    padding-top: 15px;
    text-align: left;
    padding-left: 20%;
}
.itemsAndSorts p {
    font-size: 10px;
    padding-top: 7px;
    text-align: left;
    padding-left: 25%;
    white-space: pre-line;
}
#startspace {
    padding-top: 150px;
}
.typewriter h2 {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 100px;
}
.typewriter h3 {
    font-size: 20px;
    padding-bottom: 25px;
}
.typewriter h4 {
    padding-bottom: 15px;
}
img {
    padding-top : 20px;
    width: 80%;
}
table {
    text-align: center;
}