
body {
    margin:0px;
    background: #0f0f0f;
    padding-top: 0px;
    display:flex;
  }

#header{
    position: fixed;
    height:120px;
    width: 100%;
    background:#161616; 
    text-align: center;
}

video {
    padding-top: 50px;
    padding-bottom: 50px;
    block-size: 250px;
}
#ep1 {
    padding-left: 32%;
}
#ep2 {
    padding-top: 150px;
}
#bg_ep1 {
    padding-left:50px;
}
#rightToVideo {
    margin-top: -280px;
    margin-left: 530px;
    margin-right: 20px;
    white-space: pre-line;
}
div {
    width: 100%;
}
.typewriter h1, p, h2, h3 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    margin-left: 50px;
}
.typewriter h1 {
    padding-top: 20px;
    font-size: 50px;
}
.typewriter h2, h3 {
    margin-left: 0;
    text-align: center;
}
.typewriter h2 {
    padding-top: 10px;
    padding-bottom: 100px;
}
.typewriter h3 {
    padding-bottom: 25px;
}
img {
    padding-top : 20px;
    width: 80%;
}
table {
    text-align: center;
}